/* define variable */
:root {
  --primary: #a27b5c;
  --secondary: #3f4e4f;
  --tertiary: #dcd7c9;
  --black: #121212;
  --white: #ffffff;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: var(--white);
}

header {
  width: 100%;
  padding: 12px 100px;
}

.row {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.order-and-login {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 131%;
  letter-spacing: -0.01em;
  color: #3f4e4f;
}

.menu {
  list-style: none;
  display: flex;
  gap: 12px;
}

.menu > li > a {
  color: var(--black);
}

.menu > li > a:hover{
 
  border-bottom: 2px solid var(--primary);
}

.footer {
  background-color: var(--black);
  color: var(--white);
  height: max-content;
  padding: 50px 124px;
}

.copyright-term-policy {
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
